body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
}

.timer-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-h {
  display: flex;
  justify-content: center;
}

.div-one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.datetime-picker-input {
  width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080 !important;
  border-radius: 4px;
}

.datetime-picker-input:hover {
  border: 1px solid #000 !important;
}

#datetime-picker:focus,
.flatpickr-input:focus {
  border: 1px solid #4e75ff !important;
  outline: none !important;
}

.ul-index {
  list-style: none;
}

.datetime-picker-input::placeholder {
  padding: 0px;
}

.button-timer {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.button-timer:hover {
  background: #6c8cff !important;
  color: white;
  outline: none !important;
}

.button-timer:focus,
.button-timer:active {
  outline: none !important;
  background-color: #4e75ff !important;
  color: white;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  color: #2e2f42;
}

.label {
  font-size: 16px;
}

.flatpickr-day {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #666;
}

.flatpickr-day.today {
  background-color: #c1c1c1 !important;
}

.flatpickr-day.selected {
  background-color: transparent !important;
  color: #666 !important;
  border: 1px solid #4e75ff;
  background-color: #4e75ff !important;
  color: #fff !important;
}

.flatpickr-day:hover {
  background-color: transparent !important;
  border: 1px solid #4e75ff !important;
  color: #666 !important;
}

.flatpickr-months {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #333 !important;
}

span.flatpickr-weekday {
  font-size: 16px !important;
  color: #2e2f42 !important;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #333 !important;
}

/* Генератор промісів з iziToast< */
.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 0px;
  margin: 0px;
  gap: 16px;
}

.form > *:last-child {
  margin-top: 8px; /* 16 + 8 = 24px між останнім і попереднім */
}

.label-form {
  font-size: 16px;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form {
  border: 1px solid #808080 !important;
  border-radius: 4px;
  max-width: 360px;
  height: 40px;
}

.input-form:hover {
  border: 1px solid #000 !important;
}

.input-form:focus {
  border: 1px solid #4e75ff !important;
  outline: none;
}

.button-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-size: 16px;
  color: #fff;
  outline: none !important;
  border: none;
}

.button-form:hover {
  background-color: #6c8cff;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.radio-group.active {
  background: transparent;
}

/* Ховаємо звичайну радіокнопку */
.custom-radio input[type='radio'] {
  display: none;
}

.radio-mark {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #4e75ff;
  border-radius: 50%;
  background-color: white;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

/* Псевдоелемент — маленький синій кружечок посередині */
.custom-radio input[type='radio']:checked + .radio-mark::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4e75ff;
  border: none;
  transform: translate(-50%, -50%);
}
